$mainColor: #1d1d1d;
$secColor: #fff;
$tabletScreen: 768px;

.cu-form-container{
    padding: 50px 0;
    background: $mainColor;
}

.cu-form-wrap{
    max-width: 1550px;
    padding: 0 15px;
    margin: 0 auto;
}

.cu-form{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        label{
            color: $secColor;
        }
        input:focus{
            outline: 0;
        }
        input[type=text],
        input[type=email]{
            border: 0;
            border-bottom: 1px solid $secColor;
            background: transparent;
            margin-bottom: 20px;
            border-radius: 0;
            color: $secColor;
            width: 100%;
        }
        input[type=submit]{
            background: $secColor;
            color: $mainColor;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0;
        }
    }
}